@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/breckpoints.scss";

.btn {
  background-color: inherit;
  outline: none;
  border: none;
  font-family: "CormorantSCBold", serif;
  font-size: 16px;
  line-height: 128%;
  padding: 5px 10px;
  cursor: pointer;

  &--burger {
    font-family: "CormorantSCMedium", serif;
    font-size: 32px;
    line-height: 100%;
    padding: 0;
    border: none;

    &:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  &--filter {
    font-family: "CormorantSCMedium", serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
  }
}

.btn--dt {
  color: $primary-light-gray;

  &:hover {
    color: $primary-white;
  }
}

.btn--lt {
  color: $primary-dark-gray;

  &:hover {
    color: $primary-black;
  }
}

@media (min-width: $breakpoint-tablet) {
.btn--burger {
    font-size: 60px;
    line-height: 73px;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }
}

.btn--filter {
  font-size: 16px;
  line-height: 19px;
}
