@import "../../../sass/colors.scss";
@import "../../../sass/fonts.scss";

.link {
  font-family: 'InterBold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: underline;
  cursor: pointer;
}

.link--dt {
  color: $primary-light-gray;

  &:hover {
    color: $primary-white;
  }
}

.link--lt {
  color: $primary-dark-gray;

  &:hover {
    color: $primary-black;
  }
}
