@import "../../../sass/colors.scss";
@import "../../../sass/fonts.scss";
@import "../../../sass/breckpoints.scss";

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  position: fixed;
  z-index: 50;
  bottom: 0;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  overflow: hidden;

  &__error {
    display: none;
  }

  &__errorMessage {
    font-family: InterLight, sans-serif;
    font-size: 12px;
    line-height: 140%;
    display: flex;
    align-items: center;
  }

  &__errorSignDesktop {
    display: none;
  }

  &__errorSignMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
  }

  &__close {
    img {
      width: 8px;
      height: 8px;
    }
  }
}

.toast--dt {
  background-color: $secondary-black;;

  .toast__errorMessage {
    color: $primary-light-gray;
  }
}

.toast--lt {
  background-color: $secondary-white;
  border: 1px solid $primary-light-gray;

  .toast__errorMessage {
    color: $primary-dark-gray;
  }
}

@media (min-width: $breakpoint-tablet) {
  .toast {
    width: 440px;
    height: 88px;
    position: fixed;
    bottom: 20px;
    right: 20px;

    &__content {
      padding-left: 16px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 8px;
        height: 100%;
        background-color: $accent-error;
      }
    }

    &__error {
      display: flex;
      align-items: center;
      font-family: InterMedium, sans-serif;
      font-size: 16px;
      line-height: 140%;
      color: $accent-error;
      margin-bottom: 8px;
    }

    &__errorSignDesktop {
      margin-right: 8px;
      display: flex;
      align-items: center;
    }

    &__errorSignMobile {
      display: none;

    }

    &__errorMessage {
      padding-left: 24px;
    }

    &__close {
      align-self: flex-start;
      margin-top: 16px;
      margin-right: 6px;

      img {
        width: 16px;
        height: 16px;
      }
    }

  }
}
