@import "../../sass/colors";
@import "../../sass/breckpoints";

.popupBackground {
  flex: 1 0 auto;
  position: relative;
}

.popup {
  padding: 24px 20px 80px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  &__top {
    display: flex;
    justify-content: flex-end;
    padding-right: 4px;
    margin-bottom: 40px;
  }

  &__close {
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  &__form {
    width: 280px;
    margin: 0 auto;
  }

  &__input {
    padding: 0 6px;
    margin: 0 0 32px;
  }

  &__browseImage {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &__imageField {
    position: relative;
    width: 280px;
    height: 187px;
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px dashed $primary-dark-gray;
  }

  &__picturePreview {
    width: 100%;
    height: 100%;
    margin: 0;
    object-fit: cover;
    object-position: center;
  }

  &__imageFieldIcon {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
  }

  &__previewPictureIcon {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  &__mobileLink {
    margin-bottom: 12px;
  }

  &__pictureInput {
    display: none;
  }

  &__pictureLabel {
    font-family: 'InterBold', sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__desktopLink {
    display: none;
  }

  &__imageFieldText {
    width: 227px;
    font-family: 'InterLight', sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: $primary-dark-gray;
  }

  &__btn {
    text-align: center;
  }
}


.popup--dt {
  background-color: $primary-black;

  .popup__portraitField {
    border: 1px dashed $primary-dark-gray;
  }

  .popup__portraitFieldText {
    color: $primary-light-gray;
  }

  .popup__pictureLabel {
    color: $primary-light-gray;

    &:hover {
      color: $primary-white;
    }
  }
}

.popup--lt {
  background-color: $secondary-white;

  .popup__portraitField {
    border: 1px dashed $secondary-gray;
  }

  .popup__portraitFieldText {
    color: $primary-dark-gray;
  }

  .popup__pictureLabel {
    color: $primary-dark-gray;

    &:hover {
      color: $primary-black;
    }
  }
}


@media (min-width: $breakpoint-tablet) {
  .popupBackground {
    display: flex;
    justify-content: center;
    padding: 150px 37px;
    background-color: $modal-window-background;
  }

  .popup {
    padding: 36px 36px 80px;
    position: static;
    width: 693px;
    height: 723px;

    &__top {
      padding-right: 0;
      margin-bottom: 28px;
    }

    &__form {
      width: 493px;
      margin: 0 auto;
    }

    &__inputs {
      display: grid;
      grid-template-columns: 340px 105px;
      column-gap: 48px;
      margin-bottom: 60px;
    }

    &__input {
      margin-bottom: 0;
    }

    &__imageField {
      width: 493px;
      height: 327px;
    }

    &__imageFieldIcon {
      width: 130px;
      height: 130px;
      margin-bottom: 20px;
    }

    &__previewPictureIcon {
      bottom: 12px;
      right: 12px;
    }

    &__mobileLink {
      display: none;
    }

    &__desktopLink {
      display: block;
      width: 239px;
      text-align: center;
      font-size: 16px;
      line-height: 140%;
      font-family: "InterLight", sans-serif;
      color: $primary-light-gray;
      margin-bottom: 12px;
    }

    &__desktopLinkText {
      font-family: "InterMedium", sans-serif;
    }

    &__imageFieldText {
      width: 260px;
    }
  }
}

//@media (min-width: $breakpiont-small-desktop) {
//  .popupBackground {
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    background-color: $modal-window-background;
//    padding: 74px 0;
//  }
//
//  .popup {
//    width: 800px;
//    padding: 36px;
//
//    &__content {
//      display: flex;
//      justify-content: space-between;
//      align-items: flex-start;
//    }
//
//    &__addPortrait {
//      padding: 0 60px 0 64px;
//      margin: 0;
//    }
//
//    &__portraitFieldText {
//      display: block;
//      width: 136px;
//      margin-top: 16px;
//      text-align: center;
//      font-family: 'InterLight', sans-serif;
//      font-size: 16px;
//      line-height: 140%;
//    }
//
//    &__form {
//      margin: 0;
//      padding: 0 64px 0 0;
//      flex: 1 0 auto;
//    }
//
//    &__input,
//    &__textarea {
//      margin-bottom: 40px;
//    }
//
//    &__btn {
//      text-align: start;
//      margin-bottom: 44px;
//    }
//  }
//}
