// Primary colors
$primary-white: #fff;
$primary-black: #121212;
$primary-light-gray: #DEDEDE;
$primary-dark-gray: #575757;

// Secondary colors
$secondary-white: #FCFCFC;
$secondary-black: #1A1818;
$secondary-gray: #9C9C9C;

// Accent colors
$accent-red: #9B4B4B;
$accent-gold: #AB8956;
$accent-error: #AE2917;

// Other
$modal-window-background: rgba(3, 3, 3, 0.6);
