@import "./colors";
@import "./fonts";

%label-styles {
  font-family: 'InterBold', sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 8px;
}

%label--dt {
  color: $primary-white;
}

%label--lt {
  color: $primary-black;
}

%default {
  border-radius: 4px;
  outline: none;
  padding: 12px 16px;
  box-sizing: border-box;
}

%default--dt {
  background-color: $secondary-black;
  border: 1px solid $secondary-black;
  color: $primary-light-gray;
}

%default--lt {
  background-color: $primary-white;
  border: 1px solid $primary-light-gray;
  color: $primary-dark-gray;
}

%hover--dt {
  border: 1px solid $primary-dark-gray;
}

%hover--lt {
  border: 1px solid $secondary-gray;
}

%focus--dt {
  border: 1px solid $primary-light-gray;
}

%focus--lt {
  border: 1px solid $primary-dark-gray;
}

%error-styles {
  display: none;
  justify-content: flex-start;
  align-items: center;
  padding: 7px 5px;

  img {
    margin-right: 8px;
  }

  span {
    font-family: 'InterLight', sans-serif;
    font-size: 12px;
    line-height: 140%;
    color: $accent-error;
  }
}

%error-field-border {
  border: 1px solid $accent-error;
}
