@import "../../../sass/colors";
@import "../../../sass/fonts";
@import "../../../sass/breckpoints";
@import "../../../sass/templates";

.select {

  &.open {
    .select__dropdown {
      display: block;
    }
  }

  &__label {
    @extend %label-styles;
  }

  &__inner {
    position: relative;
  }

  &__input {
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    overflow: hidden;
  }

  &__inputItems {
    height: 100%;
    width: 100%;
    padding: 6px 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }

  &__inputItems {
    div:not(:last-child) {
      margin-right: 12px;
    }
  }

  &__inputArrow {
    border: none;
    height: 100%;
    padding: 0 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $secondary-black;
    cursor: pointer;
  }

  &__dropdown {
    width: 100%;
    padding: 20px 0;
    border-radius: 0 0 4px 4px;
    display: none;
    position: absolute;
    top: 46px;
    left: 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    height: 40px;
    padding: 9px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover {
      background-color: rgba(205, 205, 205, 0.05);
    }

    input {
      display: none;
    }

    label {
      width: 100%;
      padding-left: 36px;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      color: $primary-light-gray;
      font-family: 'Inter', sans-serif;
      position: relative;
      cursor: pointer;

      &::before {
        content: '';
        display: block;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
      }
    }
  }

}

.select--dt {
  .select__label {
    @extend %label--dt;
  }

  .select__input {
    @extend %default--dt;
  }

  .select__input:hover {
    @extend %hover--dt;
  }

  .select__input:focus {
    @extend %focus--dt;
  }

  .select__dropdown {
    background-color: $secondary-black;
  }

  .select__item {
    input:checked + label::before {
      background-image: url("../../../assets/dark-theme/_UI/Multiselect/check-mark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    label::before {
      background-color: $primary-black;
    }
  }
}


.select--lt {
  .select__label {
    @extend %label--lt;
  }

  .select__input {
    @extend %default--lt;
  }

  .select__input:hover {
    @extend %hover--lt;
  }

  .select__input:focus {
    @extend %focus--lt;
  }

  .select__dropdown {
    background-color: $primary-white;
  }

  .select__item {
    input:checked + label::before {
      background-image: url("../../../assets/light-theme/_UI/Multiselect/check-mark.svg");
      background-repeat: no-repeat;
      background-position: center;
    }

    label::before {
      background-color: $secondary-white;
    }
  }
}