@import "../../sass/breckpoints.scss";

.grid {
	&__container {
		display: grid;
		grid-template-columns: 1fr;
		gap: 20px;
	}
}

@media (min-width: $breakpoint-tablet) {
	.grid {
		&__container {
			grid-template-columns: 1fr 1fr;
			gap: 24px;
		}
	}
}

@media (min-width: $breakpoint-small-desktop) {
	.grid {
		&__container {
			grid-template-columns: 1fr 1fr 1fr;
			gap: 32px;
		}
	}
}
