@import "../../sass/colors";
@import "../../sass/breckpoints";

.popupBackground {
  flex: 1 0 auto;
  position: relative;
}

.popup {
  padding: 24px 24px 185px;
  width: 100vw;
  min-height: fit-content;

  &__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
  }

  &__close {
    cursor: pointer;
    border: none;
    background-color: inherit;
  }

  &__addPortrait {
    text-align: center;
    margin-bottom: 40px;
  }

  &__portraitField {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin: 0 auto 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  }

  &__previewPictureInner {
    width: 100%;
    height: 100%;
    position: relative;
  }

  &__previewPicture {
    width: 100%;
    height: 100%;
  }

  &__previewPictureIcon {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 8px;
    right: 8px;
  }

  &__portraitFieldText {
    display: none;
  }

  &__portraitInput {
    display: none;
  }

  &__portraitLabel {
    font-family: 'InterBold', sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    text-decoration: underline;
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__form {
    padding: 0 6px;
    max-width: 352px;
    margin: 0 auto;
  }

  &__input,
  &__textarea {
    margin-bottom: 32px;
  }

  &__multiselect {
    margin-bottom: 40px;
  }

  &__btn {
    text-align: center;
  }

  &__dragAndDrop {
    display: none;
  }
}


.popup--dt {
  background-color: $primary-black;

  .popup__dragAndDrop {
    background-color: $secondary-black;
    border-color: $primary-dark-gray;
  }

  .popup__dragAndDropText {
    color: $primary-light-gray;
  }

  .popup__dragAndDropLimitation {
    color: $primary-dark-gray;
  }

  .popup__portraitField {
    border: 1px dashed $primary-dark-gray;
  }

  .popup__portraitFieldText {
    color: $primary-light-gray;
  }

  .popup__portraitLabel {
    color: $primary-light-gray;

    &:hover {
      color: $primary-white;
    }
  }
}

.popup--lt {
  background-color: $secondary-white;

  .popup__dragAndDrop {
    background-color: $primary-white;
    border-color: $secondary-gray;
  }

  .popup__dragAndDropText {
    color: $primary-dark-gray;
  }

  .popup__dragAndDropLimitation {
    color: $secondary-gray;
  }

  .popup__portraitField {
    border: 1px dashed $secondary-gray;
  }

  .popup__portraitFieldText {
    color: $primary-dark-gray;
  }

  .popup__portraitLabel {
    color: $primary-dark-gray;

    &:hover {
      color: $primary-black;
    }
  }
}


@media (min-width: $breakpoint-tablet) {
  .popup {
    padding: 36px 24px 1px;

    &__top {
      margin-bottom: 28px;
    }

    &__addPortrait {
      margin-bottom: 60px;
    }

    &__form {
      padding: 0;
      width: 340px;
      margin: 0 auto 180px;
    }

    &__input,
    &__textarea {
      margin-bottom: 40px;
    }

    &__multiselect {
      margin-bottom: 60px;
    }
  }
}

@media (min-width: $breakpoint-small-desktop) {
  .popupBackground {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: $modal-window-background;
    min-height: fit-content;
    z-index: 10;
    padding: 55px;
  }

  .popup {
    width: 800px;
    padding: 36px;
    position: relative;

    &__dragAndDrop {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 20;
      border: 1px dashed;
      border-radius: 2px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      visibility: hidden;

      &--active {
        visibility: visible;
      }
    }

    &__dragAndDropText {
      font-family: InterLight, sans-serif;
      font-size: 16px;
      line-height: 140%;
      text-align: center;
      max-width: 136px;
      margin-top: 16px;
    }

    &__dragAndDropLimitation {
      max-width: 260px;
      font-family: InterLight, sans-serif;
      font-size: 12px;
      line-height: 140%;
      margin-top: 20px;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }

    &__addPortrait {
      padding: 0 60px 0 64px;
      margin: 0;
    }

    &__portraitFieldText {
      display: block;
      width: 136px;
      margin-top: 16px;
      text-align: center;
      font-family: 'InterLight', sans-serif;
      font-size: 16px;
      line-height: 140%;
    }

    &__form {
      margin: 0;
      padding: 0 64px 0 0;
      flex: 1 0 auto;
    }

    &__input,
    &__textarea {
      margin-bottom: 40px;
    }

    &__btn {
      text-align: start;
      margin-bottom: 44px;
    }
  }
}
