@import "../../sass/colors";
@import "../../sass/breckpoints";

.popupBackground {
  background-color: $modal-window-background;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.popup {
  width: 100%;
  padding: 20px 33px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__top {
    display: none;
  }

  &__title {
    font-family: "InterMedium", sans-serif;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 12px;
  }

  &__warning {
    font-family: "InterLight", sans-serif;
    font-size: 12px;
    line-height: 140%;
    text-align: center;
    margin-bottom: 20px;
    color: $secondary-gray;
  }

  &__btn {
    max-width: 200px;
    margin-bottom: 20px;
  }
}


.popup--dt {
  background-color: $primary-black;

  .popup__title {
    color: $primary-light-gray;
  }
}

.popup--lt {
  background-color: $secondary-white;

  .popup__title {
    color: $primary-dark-gray;
  }
}


@media (min-width: $breakpoint-tablet) {
  .popupBackground {
    align-items: center;
    justify-content: center;
  }

  .popup {
    width: 320px;
    padding: 24px;

    &__top {
      display: block;
      width: 100%;
    }

    &__close {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 20px;
    }

    &__closeBtn {
      border: none;
      padding: 0;
      background-color: inherit;
      cursor: pointer;
    }

    &__trashBin {
      display: flex;
      justify-content: center;
      margin-bottom: 32px;
    }

    &__title {
      max-width: 233px;
    }

    &__warning {
      max-width: 240px;
      margin-bottom: 32px;
    }

    &__link {
      margin-bottom: 36px;
    }
  }
}
