@import "../../sass/colors.scss";
@import "../../sass/breckpoints.scss";

.filter {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  visibility: hidden;
  transition: all .5s ease-in-out;

  &--opened {
    visibility: visible;
  }

  &__content {
    width: 252px;
    position: fixed;
    top: 0;
    right: -252px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    transition: right .5s ease-in-out;

    &--opened {
      right: 0;
    }
  }

  &__top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
    margin-bottom: 40px;
  }

  &__closeBtn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__categories {
    padding: 0 20px;
    flex: 1 1 auto;
  }

  &__menuItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    margin-left: -10px;
  }

  &__genresAmount {
    font-family: "CormorantSCMedium", serif;
    font-size: 16px;
    line-height: 128%;
    margin-left: -10px;
    cursor: pointer;
  }

  &__menuItemPlus {
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    background-position: center;
    transition: all .5s ease;
    cursor: pointer;
  }

  .filter__plusDt {
    background-image: url("../../assets/dark-theme/main-page/plus-dt.svg");
  }

  .filter__plusLt {
    background-image: url("../../assets/light-theme/main-page/plus-lt.svg");
  }

  .filter__minusDt {
    background-image: url("../../assets/dark-theme/main-page/minus-dt.svg");
  }

  .filter__minusLt {
    background-image: url("../../assets/light-theme/main-page/minus-lt.svg");
  }

  &__genresItems {
    height: auto;
    max-height: 0;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
    margin-bottom: 16px;
    transition: max-height .5s ease-in-out;

    &--active {
      max-height: 500px;
    }
  }

  &__sortByItems {
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s ease-in-out;

    &--active {
      max-height: 300px;
    }
  }

  &__sortByItem {
    font-family: InterLight, sans-serif;
    font-size: 12px;
    line-height: 140%;
    margin-bottom: 12px;

    input {
      display: none;
    }
  }

  &__bottom {
    padding: 0 20px 100px 20px;
    display: flex;
    justify-content: space-between;
  }
}


.filter--dt {
  background-color: transparent;
  &.filter--opened {
    background-color: rgba(3, 3, 3, 0.6);
  }

  .filter__content {
    background-color: $secondary-black;
  }

  .filter__genresAmount {
    color: $primary-white;
  }

  .filter__sortByItem {
    color: $primary-light-gray;

    input:checked + label {
      font-family: InterMedium, sans-serif;
      color: $accent-gold;
    }
  }
}

.filter--lt {
  background-color: transparent;
  &.filter--opened {
    background-color: rgba(3, 3, 3, 0.3);
  }

  .filter__content {
    background-color: $primary-light-gray;
  }

  .filter__genresAmount {
    color: $primary-black;
  }

  .filter__sortByItem {
    color: $primary-dark-gray;

    &:checked + label {
      font-family: InterMedium, sans-serif;
      color: $primary-black;
    }
  }
}


@media (min-width: $breakpoint-tablet) {
  .filter {
    visibility: hidden;

    &__content {
      visibility: visible;
      width: 372px;
      right: -372px;

      &--opened {
        right: 0;
      }
    }

    &__top {
      padding: 36px 24px;
      margin-bottom: 95px;
    }

    &__categories {
      padding: 0 32px;
    }

    &__bottom {
      padding: 0 20px 100px 20px;
    }
  }
}

@media (min-width: $breakpoint-small-desktop) {
  .filter {
    &__content {
      width: 492px;
      right: -492px;

      &--opened {
        right: 0;
      }
    }

    &__top {
      padding: 64px 104px;
      margin-bottom: 40px;
    }

    &__categories {
      padding: 0 136px 0 72px;
    }

    &__bottom {
      padding: 0 140px 200px 72px;
    }
  }
}
