@import "../../sass/colors.scss";
@import "../../sass/breckpoints.scss";
@import "../../sass/fonts.scss";

.picture {
  display: none;
}

.auth {
  padding-bottom: 32px;

  &__top {
    padding: 24px;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 66px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    font-family: 'Cormorant SC', serif;
    text-align: center;
    color: $primary-white;
    margin-bottom: 40px;
  }

  &__content {
    padding: 0 30px;
    display: flex;
    flex-direction: column;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
  }

  &__field {
    width: 260px;
    margin-bottom: 32px;
  }

  &__btn {
    max-width: 210px;
    margin: 8px auto 0;
  }

  &__text {
    text-align: center;
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    font-family: 'Inter', sans-serif;
    color: $primary-light-gray;

    a {
      font-weight: 500;
      color: $primary-light-gray;
    }
  }
}

@media (min-width: $breakpiont-tablet) {
  .auth {
    padding-bottom: 270px;

    &__top {
      padding: 36px 24px;
      margin-bottom: 182px;
    }

    &__title {
      font-size: 60px;
    }

    &__content {
      flex-direction: column-reverse;
    }

    &__form {
      margin-bottom: 0;
    }

    &__field {
      width: 340px;
      margin-bottom: 40px;
    }

    &__field:last-child {
      margin-bottom: 60px;
    }

    &__btn {
      margin: 20px auto 0;
    }

    &__text {
      margin-bottom: 60px;
      font-size: 16px;
    }
  }
}

@media (min-width: $breakpiont-small-desktop) {
  .modalWindowWrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $modal-window-background;
  }

  .contentInner {
    width: 1030px;
    height: 700px;
    display: flex;
    justify-content: space-between;
  }

  .picture {
    display: block;
    flex: 0 0 48%;
  }

  .auth {
    flex: 0 0 52%;
    background-color: $primary-black;
    padding-bottom: 130px;

    &__top {
      padding: 36px;
      margin-bottom: 44px;
    }

    &__title {
      font-size: 48px;
    }
  }
}
