@import "../../sass/breckpoints.scss";
@import "../../sass/colors.scss";

.header {
  height: 64px;

  &__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__burger {
    border: none;
    background-color: inherit;
    cursor: pointer;
    height: fit-content;
  }

  &__buttons {
    display: none;

    button {
      background-color: inherit;
      outline: none;
      border: none;
      font-family: "CormorantSCBold", serif;
      font-size: 16px;
      line-height: 128%;
      padding: 5px 10px;
      cursor: pointer;
    }
  }

  &__changeTheme {
    margin-left: 50px;
    cursor: pointer;
  }
}


.header--dt {
  background-color: $primary-black;

  .header__buttons {
    button {
      color: $primary-light-gray;
    }
  }
}

.header--lt {
  background-color: $primary-white;

  .header__buttons {
    button {
      color: $primary-dark-gray;
    }
  }
}


@media (min-width: $breakpoint-tablet) {
  .header {
    height: 88px;
  }
}

@media (min-width: $breakpoint-small-desktop) {
  .header {
    height: 80px;

    &__burger {
      display: none;
    }

    &__buttons {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
