@import "../../sass/colors.scss";
@import "../../sass/breckpoints.scss";

.burger {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;

  &__content {
    width: 252px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
  }

  &__top {
    height: 64px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 24px;
  }

  &__closeBtn {
    border: none;
    background-color: inherit;
    cursor: pointer;
  }

  &__buttons {
    padding: 80px 47px;
    list-style: none;
  }

  &__changeThemeBtn {
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: inherit;
    border: none;

    img {
      margin-right: 12px;
      cursor: pointer;
    }
  }
}


.burger--dt {
  background-color: rgba(3, 3, 3, 0.6);

  .burger__content {
    background-color: $primary-black;
  }

  .burger__btn {
    color: $primary-light-gray;
  }
}

.burger--lt {
  background-color: rgba(3, 3, 3, 0.3);

  .burger__content {
    background-color: $primary-white;
  }

  .burger__btn {
    color: $primary-dark-gray;
  }
}


@media (min-width: $breakpoint-tablet) {
  .burger {
    &__content {
      width: 466px;
    }

    &__top {
      height: 88px;
      padding: 36px 24px;
    }

    &__buttons {
      padding: 100px 94px;
    }

    &__changeThemeBtn {
      margin-bottom: 60px;
      font-size: 16px;
    }
  }
}
