@import "../../sass/colors.scss";
@import "../../sass/breckpoints.scss";

.burger {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 5;
	background-color: rgba(3, 3, 3, 0.6);

	&__content {
		width: 252px;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		background-color: $primary-black;
	}

	&__top {
		height: 64px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 24px;
	}

	&__buttons {
		padding: 80px 47px;
		list-style: none;
	}

	&__changeTheme {
		margin-bottom: 40px;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		color: $primary-light-gray;

		img {
			margin-right: 12px;
		}

		span {
			text-decoration: underline;
			text-transform: uppercase;
			font-family: "Inter", sans-serif;
			cursor: pointer;
		}
	}

	&__btn {
		font-family: "Cormorant SC", serif;
		font-weight: 500;
		font-size: 32px;
		line-height: 100%;
		color: $primary-light-gray;
		cursor: pointer;

		&:not(:last-child) {
			margin-bottom: 32px;
		}
	}
}

@media (min-width: $breakpiont-tablet) {
	.burger {
		&__content {
			width: 466px;
		}

		&__top {
			height: 88px;
			padding: 36px 24px;
		}

		&__buttons {
			padding: 100px 94px;
		}

		&__changeTheme {
			margin-bottom: 60px;

			span {
				font-size: 16px;
			}
		}

		&__btn {
			font-size: 60px;
			line-height: 73px;

			&:not(:last-child) {
				margin-bottom: 40px;
			}
		}
	}
}
