@import "../../sass/breckpoints.scss";
@import "../../sass/colors.scss";

.artist {
	position: relative;
	padding-top: 66%;

	&::before {
		content: "";
		display: block;
		width: 100%;
	}

	&__modalWindow {
		display: none;
		justify-content: center;
		align-items: center;
		position: absolute;
		z-index: 4;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		text-transform: uppercase;
		text-decoration: underline;
		font-weight: 700;
		font-size: 12px;
		line-height: 15px;
		font-family: "Inter", sans-serif;
	}

	&__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		overflow: hidden;
		margin: 0 auto;

		&:not(:last-child) {
			margin-bottom: 20px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__info {
		height: 45px;
		width: 236px;
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 8px 12px;

		&::before {
			content: "";
			display: none;
			height: 42px;
			width: 2px;
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__name {
		font-family: "Cormorant SC", serif;
		font-weight: 500;
		font-size: 12px;
		line-height: 15px;
		text-transform: uppercase;
		margin-bottom: 4px;
	}

	&__datesOfLife {
		font-weight: 700;
		font-size: 8px;
		line-height: 10px;
		text-transform: uppercase;
	}

	&__arrow {
		height: 45px;
		width: 24px;
		position: absolute;
		bottom: 0;
		left: 236px;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			width: 66%;
			height: auto;
		}
	}
}


.artist--dt {
  .artist__modalWindow {
    background-color: $primary-black;
  }

  .artist__info {
    background-color: $primary-black;

    &::before {
      background-color: $accent-gold;
    }
  }

  .artist__name {
    color: $primary-white;
  }

  .artist__datesOfLife {
    color: $accent-gold;
  }

  .artist__arrow {
    background-color: $accent-gold;
  }
}

.artist--lt {
  .artist__modalWindow {
    background-color: $primary-white;
  }

  .artist__info {
    background-color: $primary-white;

    &::before {
      background-color: $accent-red;
    }
  }

  .artist__name {
    color: $primary-black;
  }

  .artist__datesOfLife {
    color: $accent-red;
  }

  .artist__arrow {
    background-color: $accent-red;
  }
}


@media (min-width: $breakpiont-tablet) {
  .artist {
    &__info {
      height: 66px;
      width: 300px;
      padding: 12px;
    }

    &__name {
      font-size: 16px;
      line-height: 19px;
    }

    &__datesOfLife {
      font-size: 12px;
      line-height: 15px;
    }

    &__arrow {
      height: 66px;
      left: 300px;
    }
  }
}

@media (min-width: $breakpiont-small-desktop) {
  .artist {
    &:hover {
      .artist__modalWindow {
        display: flex;
      }
    }

    &__info {
      height: 82px;
      width: 300px;
      padding: 20px;

      &::before {
        display: block;
      }
    }

    &__name {
      font-size: 16px;
      line-height: 19px;
    }

    &__datesOfLife {
      font-size: 12px;
      line-height: 15px;
    }

    &__arrow {
      height: 82px;
      display: none;
    }
  }
}
