@import "../../sass/breckpoints.scss";
@import "../../sass/colors.scss";

.footer {
	border-top: 2px solid $secondary-gray;
	padding: 32px 0;

	&__textContainer {
		margin-bottom: 20px;
	}

	&__text {
		font-family: "InterLight", sans-serif;
		font-size: 12px;
		line-height: 140%;
		margin-bottom: 10px;
	}

	&__link {
		font-weight: 600;
	}

	&__developer {
		font-family: "InterLight", sans-serif;
		font-size: 12px;
		line-height: 140%;
		color: $secondary-gray;
	}
}

.footer--dt {
	background-color: $primary-black;

	.footer__text {
		color: $primary-light-gray;
		a {
			color: $primary-light-gray;
		}
	}
}

.footer--lt {
	background-color: $primary-white;

	.footer__text {
		color: $primary-dark-gray;
		a {
			color: $primary-dark-gray;
		}
	}
}

@media (min-width: $breakpiont-tablet) {
	.footer {
		padding: 40px 0 48px;

		&__container {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

		&__textContainer {
			margin-bottom: 0;
		}

		&__text {
			font-size: 16px;
			margin-bottom: 12px;
		}

		&__developer {
			font-size: 16px;
		}
	}
}
