@import "../../../sass/colors.scss";
@import "../../../sass/fonts.scss";

.label {
	padding: 8px 16px;
	width: fit-content;
	font-family: "InterMedium", sans-serif;
	font-size: 12px;
	line-height: 140%;
	border-radius: 30px;
	display: flex;
	justify-content: center;
	align-items: center;

	span:not(:last-child) {
		margin-right: 10px;
	}

	&__btn {
		cursor: pointer;
	}

	&__text {
		white-space: nowrap;
	}
}


.label--dt {
	border: 1px solid $primary-white;
	background-color: $secondary-black;
	color: $primary-light-gray;
}

.label--lt {
	border: none;
	background-color: $primary-light-gray;
	color: $primary-dark-gray;
}
