@import "../../../sass-variables/colors.scss";
@import "../../../sass-variables/fonts.scss";

.label {
	padding: 8px 16px;
	font-weight: 500;
	font-size: 12px;
	line-height: 140%;
	border-radius: 30px;
	font-family: "Inter", sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;

	span {
		margin-right: 10px;
	}

	&--dt {
		border: 1px solid $primary-white;
		background: rgba(205, 205, 205, 0.05);
		color: $primary-light-gray;
	}

	&--lt {
		border: none;
		background: rgba(18, 18, 18, 0.05);
		color: $primary-dark-gray;
	}
}
