@import "sass/breckpoints.scss";
@import "sass/colors.scss";

.appContainer {
	position: relative;
}

.modalContainer {
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}

.modalContainer--active {
	display: block;
}

.wrapper {
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	color: lightgrey;
}

.wrapper--dt {
	background-color: $primary-black;
}

.wrapper--lt {
	background-color: $primary-white;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 20px;
}

@media (min-width: $breakpoint-large-desktop) {
	.container {
		max-width: 1440px;
		padding: 0 100px;
	}
}
