@import "sass/breckpoints.scss";
@import "sass/colors.scss";

.wrapper {
	min-height: 100vh;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	position: relative;
	color: lightgrey;
}

.wrapper--dt {
	background-color: $primary-black;
}

.wrapper--lt {
	background-color: $primary-white;
}

.container {
	margin: 0 auto;
	max-width: 1280px;
	padding: 0 20px;
}

@media (min-width: $breakpiont-large-desktop) {
	.container {
		max-width: 1440px;
		padding: 0 100px;
	}
}
