@import "sass/breckpoints.scss";
@import "sass/colors.scss";

.appContainer {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.centralBlock {
  flex: 1 1 auto;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
}

.wrapper--dt {
  background-color: $primary-black;
}

.wrapper--lt {
  background-color: $primary-white;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 0 20px;
}

@media (min-width: $breakpoint-large-desktop) {
  .container {
    max-width: 1440px;
    padding: 0 100px;
  }
}
