@font-face {
  font-family: 'InterLight'; /*300*/
  src: local('InterLight'),
  url('../src/assets/fonts/Inter-Light.woff') format('woff'),
  url('../src/assets/fonts/Inter-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'InterMedium'; /*500*/
  src: local('InterMedium'),
  url('../src/assets/fonts/Inter-Medium.woff') format('woff'),
  url('../src/assets/fonts/Inter-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'InterBold'; /*700*/
  src: local('InterBold'),
  url('../src/assets/fonts/Inter-Bold.woff') format('woff'),
  url('../src/assets/fonts/Inter-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'CormorantSCMedium'; /*500*/
  src: local('CormorantSCMedium'),
  url('../src/assets/fonts/CormorantSC-Medium.woff') format('woff'),
  url('../src/assets/fonts/CormorantSC-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'CormorantSCSemiBold'; /*600*/
  src: local('CormorantSCSemiBold'),
  url('../src/assets/fonts/CormorantSC-SemiBold.woff') format('woff'),
  url('../src/assets/fonts/CormorantSC-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'CormorantSCBold'; /*700*/
  src: local('CormorantSCBold'),
  url('../src/assets/fonts/CormorantSC-Bold.woff') format('woff'),
  url('../src/assets/fonts/CormorantSC-Bold.woff2') format('woff2');
}