@import "../../sass/breckpoints.scss";
@import "../../sass/colors.scss";
@import "../../sass/fonts.scss";

.row {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  visibility: hidden;

  &--active {
    visibility: visible;
  }

  &__inner {
    padding-bottom: 25px;
  }

  &__filterFields {
    padding-bottom: 20px;
  }

  &__loupe {
    width: 16px;
    height: 16px;
    border: none;
    background-color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -42px;
    right: 68px;
    cursor: pointer;
  }

  &__searchMobile {
    position: absolute;
    top: -65px;
    left: 0;
    height: 64px;
    width: calc(100% - 64px);
    padding: 16px 20px;
  }

  &__searchDesktop {
    display: none;
  }

  &__filterMenu {
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}


.row--dt {
  .row__filterMenu {
    background-color: $secondary-black;
  }
}

.row--lt {
  .row__filterMenu {
    background-color: $secondary-white;
  }
}

@media (min-width: $breakpoint-tablet) {
  .row {
    &__loupe {
      display: none;
    }

    &__searchMobile {
      display: none;
    }

    &__filterFields {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }

    &__searchDesktop {
      display: block;
      margin-right: 20px;
    }
  }
}